@font-face { font-family: 'metro'; src: url('metro-icons-fixed-2000-webfont.eot?x=1351252202'); src: url('metro-icons-fixed-2000-webfont.eot?#iefix') format('embedded-opentype'),  url('metro-icons-fixed-2000-webfont.woff?x=1351252202') format('woff'),  url('metro-icons-fixed-2000-webfont.ttf?x=1351252202') format('truetype'),  url('metro-icons-fixed-2000-webfont.svg?x=1351252202#metroicons8-3regular') format('svg'); font-weight: normal; font-style: normal; }

.icon {
  font-family: metro;
  text-decoration: none !important;
  font-size:30pt;
}

.clear{
  clear: both;
  display: block;
}

a:link {
color: #7D1717;
text-decoration: underline;
}

a:visited{
color:#7D1717;
}

#container
{
	margin-left: auto;
	margin-right: auto;
	width: 750px;
}

h1{
  font-family:georgia;
}

h1 a:link{
  color: #7D1717;
  text-decoration: none;
}

h1 a:visited{
  color: #7D1717;
  text-decoration: none;
}


.button-top{
    float:right;
    display:inline-block;
}

.button-bottom{
  margin:0 auto;
  text-decoration: none;
  display: block;
}

.button{
    background-color: #7D1717;
    border: none;
    border-radius:4px;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14pt;
    font-family: georgia;

  }

.button a:link{
  color:#FFF;
  text-decoration: none;
}

.button a:visited{
  color:#FFF;
  text-decoration: none;
}

h4{
  margin-bottom: 20px;
  font-family:georgia;
  font-weight: lighter;
}

.pull_quote{
  margin-top:20px;
  font-family:georgia;
  text-align: left;
  font-size: 20pt;
}

.work{
  margin-top:40px;
  font-size:14pt;
  text-align: top;
  float:left;
  }

.work_img{
  float:left;
  width: 200px;
}

.work_text{
  width:750px;
}

#kickstarter{
  margin-bottom:40px;
}

#intro{
  margin-top:20px;
  font-size:14pt;
}

#clarity{
  margin-bottom:40px;
}

#productsf{
  margin-bottom:40px;
}

#stratechery{
  margin-bottom:40px;
}

#other-group{
  margin-top:20px;
}

#bookings-one{
  margin-bottom:40px;
}

#other-one{
  margin-bottom:40px;
}

#title_image {
clear: both;
background-color:white;
background-position: right;
background-repeat:no-repeat;
width:750px;
margin-left: auto;
margin-right:auto;
text-decoration: none;
margin-bottom:30px;
}




#kickstarter_projects{
font-family:georgia;
margin-top: 20px;
margin-left:auto;
margin-right: auto;
text-align: center;
}

#kickstarter_projects p{
  margin-bottom:0;
}

#kickstarter_projects div{
  float:left;
  width:250px;
}

#portfolio h1{
  margin-top: -30px;
}

#kickstarter-product{
}

#footer{
  font-size:small;
}

p{
  font-family:georgia;
}



h2,h3{
  font-family:georgia;
  font-weight:normal;
}



ul{
  list-style:none;
  font-size: 13pt;
}

#mentoring ul{
  list-style:disc;
}


#mentoring h2{
  margin: 0;
}


.floated:before, .floated:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.floated:after { clear: both; }
.floated { zoom: 1; }