!!! 5
html
  head
    title Ellen Chisa
    link(rel='stylesheet', href='stylesheet.css')
    link(rel='shortcut icon', href='http://www.ellenchisa.com/favicon.ico')
  body
    #container
      a(href='http://www.ellenchisa.com')
        #title_image
      #nav_menu
        a(href='/about.html') About
        a(href='http://blog.ellenchisa.com') Blog
        a(href='/EllenChisa_CV.pdf') Resume
        a(href='/portfolio.html') Portfolio
        a(href='/contact.html') Contact
      p
        | Right now, I'm a product manager at Kickstarter! Right now, I'm loving these projects:
      #blog_feed