<!DOCTYPE html>
<html>
<head>
	<title>Ellen Chisa</title>
	<link rel="stylesheet" href="assets/stylesheet.css"><link rel="shortcut icon" href="http://www.ellenchisa.com/favicon.ico">
</head>
<body>
	<div id="container">
		<div id="title_image">
			<h1>Ellen Chisa</h1>
			<h2>Chaos out of order, order out of chaos*</h2>
			<p> <a href="http://www.twitter.com/ellenchisa" id="link" class="icon">&#X277F;</a> 
				<a href="http://www.facebook.com/ellenchisa" id="link" class="icon">&#X277E;</a> 
				<a href="http://www.linkedin.com/profile/view?id=183672948&trk=tab_pro" id="link" class="icon">&#X2782;</a> 
				<a href="#" id="link" class="icon">&#X278A;</a> 
				<a href="#" id="link" class="icon">&#X2799;</a> 
				<a href="#" id="link" class="icon">&#X279E;</a>
				<a href="#" id="link" class="icon">&#X279E;</a>
				<p> Hello! You can connect with me, or if you want to <br> know a little more, this is my story.</p></p> 
			</div>

			<div id="kickstarter">
				<br>
				<p>Right now, I live in Brooklyn, and I'm a product manager at <a href="http://www.kickstarter.com">Kickstarter</a>. I moved here and joined the team in December 2012. I spend a lot of time on features for people who back projects. Most recently I launched a re-design of the homepage, and of the <a href="http://www.kickstarter.com/profile/starred"> starred projects page</a>. Check it out and let me know what you think! You could also check out some of the work I've supported. Most recently, I backed these projects:</p>
			</div>
			<div id="kickstarter_projects" class="floated">
				{{#each last_kickstarter.array}}
				<div> 
					<a href="{{this.url}}"> 
						<img src="{{this.image}}">
						<p>{{this.title}}</p>
					</a>
				</div>
				{{/each}}
			</div>

			<div id="awesome">
				<p>In addition to working at Kickstarter, I'm also a trustee of the Awesome Foundation in NYC. Our most recent grant was to the <a href="http://www.awesomefoundation.org/en/projects/17601">Brooklyn Brainery Backyard.</a> Before that we supported some other projects. </p> </div>
				<div id="awesome-projects" class=""><a id="af-most-recent" href="http://www.awesomefoundation.org/en/projects/17601"> <img src="https://af-production.s3.amazonaws.com/photos/images/12665/index/DSC_0221.jpg?1361565635"></a>
					<div id="af-past"> 
						<a href="http://www.awesomefoundation.org/en/projects/17601"> <img src="https://af-production.s3.amazonaws.com/photos/images/12665/index/DSC_0221.jpg?1361565635"></a>
						<a href="http://www.awesomefoundation.org/en/projects/17601"> <img src="https://af-production.s3.amazonaws.com/photos/images/12665/index/DSC_0221.jpg?1361565635"></a>
					</div>
				</div>

				<p> Before I moved to New York, I lived in Seattle. While I  was there I was the Dean of the Seattle Awesome Foundation. As you can tell, I'm pretty into this Foundaiton. If you're interested in learning more about it, I highly recommend you check out this talk that I gave with the esteemed Nikki Lee at Creative Mornings. The talk itself is 17 minutes, and the rest is Q&A. </p>
				<iframe src="http://player.vimeo.com/video/59261997" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/59261997">CreativeMornings Money: The Awesome Foundation</a> from <a href="http://vimeo.com/seattlecm">CreativeMornings/Seattle</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

				<p> I was bummed about leaving Seattle, so I wrote this document about all the great events and other stuff I went to while there- including Awesome events and Creative Mornings. It's freely available. Someday I'd like to finish Blank in Blank - a website that helps aggregate documents like this for other transient 20somethings!</p>

				<p> In addition to doing "Awesome" stuff in Seattle, I also worked at Microsoft. I worked on <a href="http://blogs.office.com/b/office-next/archive/2012/10/29/introducing-the-new-office-on-windows-phone-8.aspx"> Office for Windows Phone 8</a>. I still highly recommend Windows Phone, even though I don't work on it anymore! I also worked on something I still refer to as "The Oompa Loompas" and on PowerPoint Broadcast for Symbian.</p>

				<p> Here are some other things you could talk to me about: </p>
				<ul> Franklin W. Olin College of Engineering </ul>
				<ul> Alight Learning </ul>
				<ul>  </ul>
				<ul> Franklin W. Olin College of Engineering </ul>
				<ul> Franklin W. Olin College of Engineering </ul>


				<p> That's it? I want to read <a href="http://www.ellenchisa.com/about"> more</a>.</p>



				<div id="footer"><p>* I came up with this phrase once when trying to explain to someone what a Product Manager does. Loosely, it means that sometimes I take lots of information and try to synthesize it into something that makes sense. Other times I take things that are "sure things" and try to ask the hard questions to figure out what's really going on.</p><p>** And in case you're curious about the two headed zebra at the top, it's the best photo I've ever taken. I took it on a trip to Tanzania in 2009, when two zebras just happened to stand such that they looked like one two-headed zebra.</p></div></div>


			</body></html>

