<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="//cdn.bounce.bar/113790.js"></script>
	<title>Ellen Chisa</title>
	<link rel="stylesheet" href="assets/stylesheet.css"><link rel="shortcut icon" href="https://www.ellenchisa.com/favicon.ico">

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-6058617-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>

<body>
	<div id="container">
			<div id="title">
			<h1> Ellen Chisa
                <button class="button button-top"><a href="https://www.ellenchisa.com/bookings"> Bookings </button></a></h1>
			</div>

			<h4><a href="https://www.ellenchisa.com">About</a> | <a href="https://www.ellenchisa.com/portfolio">Make</a> | <a href="https://www.ellenchisa.com/teaching">Teach</a> | <a href="https://www.ellenchisa.com/speaking">Speak</a> | <a href="https://www.ellenchisa.com/writing">Write</a> | <a href="https://www.ellenchisa.com/press">Press</a></h4> 
			
			<div id="header_image">
			<img src="../assets/0A0A1331.jpg" alt="photo" width="750">
			</div>

			<div id="digital_products" class="pull_quote">
			I <a href="https://www.ellenchisa.com/portfolio">make</a> digital products that encourage people to lead more fulfilling lives in the real world.
			</div>

					
			<div id="lola" class="work">
				<div id="lola_work_img" class="work_img"><img src="../assets/lola-lolascope-blue.png" alt="logo"></div>
				<div id="lola_work_text" class="work_text"> I'm the Vice President of Product at <a href="http://www.lolatravel.com">Lola</a>, a Boston-based startup that provides on-demand, personal travel service for hotels, flights, and more. Our first public product, an iOS app, is available on <a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1103890283&mt=8">the app store</a>. Personally, I love to travel. My last trip was to Belgium to spend a week on the <a href="http://www.mselisabeth.be/p%C3%A9niche-d-h%C3%B4tes/">MS Elisabeth</a> with my family. </div>
			</div><br>

			<div id="kickstarter" class="work">
				<div id="kickstarter_work_img" class="work_img"><img src="../assets/kickstarter-logo-k-color.png" alt="logo"></div>
				<div id="kickstarter_work_text" class="work_text"> Before Lola, I worked at Kickstarter as the Product Manager for the backer experience. I helped design a new suite of Discovery tools - letting people find exactly the project they wanted to back. I also helped revamped the "Start" page to provide creators with more resources to start their projects, and created "preview comments" to allow creators to get feedback before launch.</div> 
			</div><br>

			<div id="teaching" class="pull_quote">
			I <a href="https://www.ellenchisa.com/teaching">teach</a> others how to make user centered products for mobile and web.
			</div>

			<div id="olin" class="work">
				<div id="olin_work_img" class="work_img"><img src="../assets/olin_logo_512.png" alt="logo"></div>
				<div id="olin_work_text" class="work_text"> I'm an instructor at <a href="http://www.olin.edu">Franklin W. Olin College of Engineering</a>. I've taught a seminar in Product Management (available <a href="https://blog.ellenchisa.com/pm-olin-syllabus-47720abef015#.dlad25ds1">here</a>) and in Fall of 2016 I will be teaching Human Factors and Interface Design with Amon Miller. </div>
			</div><br>

			<div id="skillshare" class="work">
				<div id="skillshare_work_img" class="work_img"><img src="../assets/skillshare.png" alt="logo"></div>
				<div id="skillshare_work_text" class="work_text"> Based on my popular post "Want to be a PM? Do a Project." I made a short video-based class on how to think through building your first product. It's available on Skillshare, and you can get access for three months for just $0.99 using <a href="http://skl.sh/1TmPAEQ">this link</a>.</div>
			</div>

			<div id="clarity" class="work">
				<div id="clarity_work_img" class="work_img"><img src="../assets/clarity.jpg" alt="logo"></div>
				<div id="clarity_work_text" class="work_text"> Want more personalized advice? I book office hours on <a href="https://clarity.fm/ellenchisa">Clarity.fm</a>. The time is for whatever you want. It can be about how to get into Product, or a Product challenge you're facing.</div>
			</div>

			<div id="speaking" class="pull_quote">
			I <a href="https://www.ellenchisa.com/speaking">speak</a> on how the products we make impact our lives.
			</div>

			<div id="industry" class="work">
				<div id="industry_work_img" class="work_img"><img src="../assets/industry_summit.png" alt="logo"></div>
				<div id="industry_work_text" class="work_text"> I spoke on using checklists to improve Product Development processes at <a href="http://2015.indsum.com/">Industry Summit 2015</a>. The two most important times to use checklists? At the beginning of the project and right before shipping. </div>
			</div><br>

			<div id="productsf" class="work">
				<div id="productsf_work_img" class="work_img"><img src="../assets/productsf.png" alt="logo"></div>
				<div id="productsf_work_text" class="work_text"> One of my favorite talks was about the balance between art and product, at #ProductSF in 2014. A video is available on <a href="https://www.youtube.com/watch?v=nj9VGfWNHZg">YouTube</a>.</div>
			</div><br>

			<div id="writing" class="pull_quote">
			I love to <a href="http://www.ellenchisa.com/writing">write</a>.
			</div>

			<div id="business_insider" class="work">
				<div id="businessinsider_work_img" class="work_img"><img src="../assets/businessinsider.png" alt="logo"></div>
				<div id="businessinsider_work_text" class="work_text"> I love to share what I learn. After completing my first year at Harvard Business School, I wrote <a href="http://www.businessinsider.com/first-year-at-harvard-business-school-2015-5">a piece</a> summarizing the lessons from each of the ten key classes. My favorite was about how to motivate employees via "the entrepreneurial gap." The piece has been viewed nearly 400,000 times across Business Insider and Medium.</div>
			</div><br>

			<div id="first_round" class="work">
				<div id="firstround_work_img" class="work_img"><img src="../assets/firstround.png" alt="logo"></div>
				<div id="firstround_work_text" class="work_text"> I believe in having a thoughtful and intentional career. I collaborated with First Round Review on <a href="http://firstround.com/review/the-magical-benefits-of-the-quitters-mindset/"> The Magical Benefits of the Quitter's Mindset</a>. The piece covers when it's time to make a career transition, and how to make the most of any role before leaving.</div>
			</div><br>

			<div id="stratechery" class="work">
				<div id="stratechery_work_img" class="work_img"><img src="../assets/stratechery.png" alt="logo"></div>
				<div id="stratchery_work_text" class="work_text"> I wrote <a href="https://stratechery.com/2016/ellen-chisa-crowdfunding-and-the-internet-an-overview-of-crowdfunding-platforms-creating-a-sustainable-crowdfunding-platform/">a guest post</a> for Stratechery on Crowdfunding and creating a sustainable Crowdfunding platform. Stratechery is a subscription based platform, and only members will be able to view the piece.</div>
			</div><br>

			<div id="bookings" class="pull_quote">
			If you like this work, let's <a href="https://www.ellenchisa.com/bookings/index.html">collaborate</a> on something.
			</div>

			<div id="bookings" class="work">
			<div id="bookings-one" class="work_text">
			<button class="button button-bottom"><a href="https://www.ellenchisa.com/bookings">Book Now</a></button>
			</div>
			</div>
			<br>

			<div id="other" class="pull_quote">
			Still here? I do things outside of work, too.
			</div>

			<div id="other-group" class="work">
			<div id="other-one" class="work_text"> I love to scuba dive, play pinball, and read. Right now I'm reading <a href="{{last_book.link}}">{{last_book.title}}</a> by {{last_book.author}}. I also spend a lot of time at Brooklyn Boulders in Somerville. Interested in hanging out? Here's <a href="https://www.ellenchisa.com/coffee">more information</a>. 

			</div></div>
			</body></html>

