<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="//cdn.bounce.bar/113790.js"></script>
	<title>Ellen Chisa</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../assets/stylesheet_new.css"><link rel="shortcut icon" href="https://www.ellenchisa.com/favicon.ico">

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-6058617-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>

<body>
	<div id="container">
			<div id="title">
			<h1> Ellen Chisa
			</div>

		<body>

		<div class="row">
    		<div class="six columns">
   				<img src="../assets/0A0A1283.jpg" alt="photo" class="u-max-full-width">
   			</div>

    		<div class="six columns">
    			<p>Hi! I’m Ellen and I like making things.</p>
				<p>I’m working on a new startup to build software 100x faster. We’re designing a language and tools for engineers to quickly build applications using microservices. <a href="http://www.ellenandpaulsnewsartup.com">More</a>.</p>
				<p>I’ve helped build <a href="http://www.lola.com">Lola</a>, <a href="http://www.kickstarter.com">Kickstarter</a>, and Office Mobile.</p>
				<p>I advise and invest with <a href="http://www.flybridge.com">Flybridge</a> and <a href="http://www.parcelb.vc">parcelb.vc</a>.</p>
				<p>I <a href="https://www.ellenchisa.com/writing">write</a>, <a href="https://www.ellenchisa.com/speaking">speak</a>, and <a href="https://www.goodreads.com/user/show/1952043-ellen-chisa">read lots of books</a>.</p>
				<p>You can email me at <a href="mailto:ellen.chisa@gmail.com">ellen.chisa@gmail.com</a>.</p>
    		</div>
   			
   		</div>
		
		</body>
		
</html>

